<suite name="Suite1" verbose="1">
    <test name="Regression1">
        <packages>
            <package name="testng"/>
            <package name="testng.dataprovider"/>
        </packages>
    </test>


    <!--<test name="Regression2">
        <packages>
            <package name="testng.dataprovider"/>
        </packages>
    </test>-->

</suite>


